# Set a limit on the number of events to process per run
EVENTLIMIT=-1

# Modes of operation
# LOCAL  - use local file format string FORMAT
# GLOBAL - use include py file with format string FORMAT
#
FILEMODE=GLOBAL
#
#
# "Printf"-style format string for the input filename -
#                     allows input of run number only
#      - include the full path to the file in the string.
#
#FORMAT="/bigspool/usc/USC_%06d.root"
#FORMAT="../results/run%5d-skim.root"
#FORMAT="../results/run%5d-hfttskim.root"
#FORMAT="/bigspool/processed/GlobalRAFF.%5d.filter_pm4.root"
#
# include file formats:
#
#FORMAT="MyEDmodules.HFtrigAnal.run%dfiles_cfi"
#FORMAT="MyEDmodules.HFtrigAnal.run%donefile_cfi"
FORMAT="MyEDmodules.HFtrigAnal.run%dskimfiles_cfi"

# SOURCE used for FILEMODE=LOCAL, assumes files are skimmed already
# HCAL     - uses HcalTBSource
# POOL     - uses PoolSource
#
SOURCE=POOL

# RAW    - do full reco
# RECO   - reco is inside
#
MODE=RAW
#
LUTFILENAME=inputLUTcoder_one_shot.csv
#LUTFILENAME=inputLUTcoder_CRUZET_part4_v3_1_HFonly.csv

#OUTPUTFILEFMT="../results/%d/run%d-anal.root"
OUTPUTFILEFMT="../results/temp.root"
