# Set a limit on the number of events to process per run
EVENTLIMIT=-1

# Mode of operation
# LOCAL  - for local runs, uses HcalTBSource
#
# GRECO  - PoolSource,includes external cfi file,assumes L1 global trigger digis in file
# GRAW   - NewEventStreamFileReader,includes external cfi file, reco's L1 global trigger digis
# GSKIM  - PoolSource,takes local file definition below, assumes events already skimmed
#
MODE=GSKIM
#MODE=GRAW

# "Printf"-style format string for the input filename -
#                     allows input of run number only
#      - include the full path to the file in the string.
#
#FORMAT="~/cms/data/tb06/dirTest/h2.%08d.combined.OutServ_0.0.root"
#FORMAT="HTB_%06d.root"
#FORMAT="/bigspool/usc/USC_%06d.root"
#FORMAT="run%5d-skim.root"
FORMAT="/bigspool/processed/GlobalRAFF.%5d.filter_pm4.root"
