# Set a limit on the number of events to process per run
EVENTLIMIT=-1

# Mode of operation
# Both modes includes external cfi file, skims off HF trigger bits
# RECO  - l1 trigger records are already in the event
# RAW   - reco L1 global trigger digis first
#
MODE=RAW

FORMAT="MyEDmodules.HFtrigAnal.run%dfiles_cfi"
#FORMAT="MyEDmodules.HFtrigAnal.run%donefile_cfi"
