PROCESSNAME=BTAHFSCAN
L1TTBITS='0 AND (40 OR 41) AND NOT (36 OR 37 OR 38 OR 39)'
BXNUMS=1
HBHETSNUMS=2,3,4,5,6
HFTSNUMS=2,3,4,5
GLOBALTOFFSET=0.0
GLOBAL_FLAG_MASK=0xC0001
ZDC_MINHIT_GEVORFC=20.
AMPCUTSINFC=True
HF_MINHIT_GEVORFC=20.
MAXGEV2PLOT=500
MAXEVENTNUM=30000000
DOUNPACKHCAL=1
DOHCALRECO=1
GLOBALTAG='GR10_P_V4::All'
RUNDESCR='2010 HF scan, BSC trigger'
HF_FIRSTSAMPLE=2
HF_SAMPLESTOADD=4
DO_HBHE=0
DO_HO=0
DO_HF=1
#DO_ZDC=1
DO_ZDC=0
DOCLEANING=1
DOHFREFLAG=1
#
EVENTLIMIT=-1
