RUN=130910bdskim
GLOBALTOFFSET=0.0
BXNUMS=51
GLOBAL_FLAG_MASK=0xC0003
MINHITGEV=2.
MAXGEV2PLOT=100
MAXEVENTNUM=30000000
DOTREE=True
DOUNPACKHCAL=1
DOHCALRECO=1
GLOBALTAG='GR10_P_V3::All'
RUNDESCR='Run 130910 2.36GeV HFTTP Trigger'
HBHE_FIRSTSAMPLE=2
HBHE_SAMPLESTOADD=5
HF_FIRSTSAMPLE=3
HF_SAMPLESTOADD=4
LSRANGES=\"130910:250-130910:MAX\"
ANALOUTPUTFMT='bta_%s.root'
